<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - APP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overpass">
</head>
<body style="height: 100vh;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="padding-right: 0;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand brand-logo" style="padding: 0;" href="https://elevenfifty.org/" target="_blank">
                    <img class="nav-logo" src="https://elevenfifty.org/wp-content/uploads/2019/03/mobile-shield.png" />
                </a>
                @Html.ActionLink("A Poll Poll".ToUpper(), "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Questions", "Index", "Question")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="display: flex; flex-direction: column; min-height: 100%;">
        @RenderBody()
        <div class="flex-filler"></div>
        <footer>
            <p>#APP @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
