@model APollPoll.Services.Questions.Models.QuestionDetail

@{
    ViewBag.Title = "Details";
}

<h1>
    @Model.Title
    <span style="font-style: italic; font-size: 2.4rem;">@(Model.IsMultipleChoice?"Multiple":"Single") Answer Choice</span>
</h1>

@if (Model.Options.Count > 0)
{
    <div class="row" style="margin-left: 0;">
        @foreach (var item in Model.Options)
        {
            <div class="col-md-4">
                <div class="speech-bubble">
                    @Html.DisplayFor(modelItem => item.Text)
                </div>
            </div>
        }
    </div>
}
else
{
    <div style="position: relative; min-height: 14em; text-align: center;">
        <h4 class="center">
            This question currently has no possibly answers. This means that the person who added this question didn't even add an option. They should be ashamed. Go ahead and be better than them: <a id="ModalBtn2">Add a new option now</a>!
        </h4>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $(@Html.Raw("ModalBtn2")).click(function () {
            $(@Html.Raw("OptionCreateModal")).modal('show');
        });
    });
    </script>
}

<div class="text-right">
    @Html.Partial("~/Views/Option/_AddPartial.cshtml", new APollPoll.Services.Options.Models.OptionCreate { QuestionId = Model.Id })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-dark" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
